body{
    background-color: rgb(215, 193, 247);
}

h1{
    
    font-size: 60px;
    text-align: center;
    color: rgb(97, 46, 112);
}
h2{
    font-size: 40px;
    text-align: center;
    color: rgb(97, 46, 112);
}

p{
    padding-inline-start: 50px;
    padding-inline-end: 50px;
    
    font-size: 26px;
    text-align: justify;
}

li{
    padding-inline-start: 30px;
    padding-inline-end: 30px;
    
    font-size: 26px;
    text-align: justify;
}

img{
    height: 350px;
    width: 700px;
}

div{
    text-align:center;
    width:max-content;
    height:max-content;
    margin:0 auto; 
}
table, tr, td{
    border: black solid 2px;
}


nav{
    display: flex;
    justify-content: center;
 }
.dp-menu {
    position:static;
    width: 100%;
    top: 0;
    font-size: 30px;
}

.dp-menu ul {
    list-style-type: none;
    padding-inline-start: 50px;
    padding-inline-end: 50px;

    
}

.dp-menu ul {
    background-color: rgb(97, 46, 112);

    align-self: center;
}

.dp-menu ul li {
    display: inline;
    position: relative;
    padding-left: 20px;
}

.dp-menu ul li a {
    color: #FFF;
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    transition: background.3s;
}

.dp-menu ul li a:hover {
    background-color: rgb(134, 115, 189);
}

/*sub-menu*/
.dp-menu ul ul {
    display: none;
    left: 0;
    position: absolute;
}

.dp-menu ul li:hover ul {
    display: block;
}

.dp-menu ul ul {
    width: 150px;
}

.dp-menu ul ul li a {
    display: block;
    font-size: 12px;
    height: 16px;
    width: 180px;
}

.dp-menu input[type="checkbox"] {
    display: none;
}

.dp-menu label {
    
    display: none;
    cursor: pointer;
    padding: 5px;
    background-color: rgb(57, 47, 87);
    color: #fff;
    font-size: 14px;
    text-align: center;
    width: 100%;
    box-sizing: 6px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.dp-menu input[type="checkbox"]:checked + label + ul {
    display: block;
}

@media screen and (max-width: 750px) {
    .dp-menu label {
        display: block;
        width: 100%;
    }

    .dp-menu ul {
        display: none;
        position: fixed;
        width: 100%;
        text-align: center;
        background-color: rgb(57, 47, 87);
        top: 50px;
    }

    .dp-menu ul li {
        width: 100%;
        float: none;
    }

    .dp-menu ul li a {
        width: 100%;
        box-sizing: border-box;
        display: block;
    }

    .dp-menu input[type="checkbox"]:checked + label + ul {
        display: block;
    }
}


button {
    background-color: rgb(97, 46, 112);
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    width: 300px;
}